.input {
	background-color: #EFEFEF;
	border:1px solid #E3E3E3;
	padding: 15px 10px ;
	font-size: var(--fontSize-base);
	border-radius: 10px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.label {
	font-size: var(--fontSize-base);
}