.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #272727;
	color: white;
	padding: 10px 8px;
	border: none;
	border-radius: 8px;
	text-decoration: none;
	font-size: var(--fontSize-base);
	cursor: pointer;
}

.button:hover {
	background-color: #161616d6;
}