.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.toolbarButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}