.mainContainer {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: var(--background);
  overflow-x: hidden;
  display: flex;
  height: 100vh;
}

.sideNavBarContainer {
  width: 20vw;
  min-height: 100vh;
  height: auto;
  background-color: var(--foregroundshadow);

  transition: width 0.3s ease;
  color: var(--background);
  overflow: hidden;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.container {
  width: 80vw;
  height: auto;
  background-color: var(--background);
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
    .mainContainer {
        display: block;
      }

}

  