@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray:rgb(127,127,127);
  --foregroundshadow: rgba(0,0,0,0.5);
  --redNotificationx6:rgba(252, 159, 161, 0.6);
  --redNotificationGreenx6:rgba(33, 165, 50, 0.6);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mainContainer{
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.centerBox{
  width: 500px;
  background-color: var(--background);
  min-height: 100px;
  height: max-content;
  display: flex;
  justify-content: center;
}
