.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:40px;
  margin-top: 30px;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.mainCaption {
  font-size: var(--fontSize-large-2);
  margin: 0;
}

.a {
  color: black;
}

.b {
  color: #005063;
}

.c {
  color: #f7931e;
}

.subCaption {
	font-size: var(--fontSize-base);
	width:500px;
}

.uniname {
	font-weight: bold;
}

.nav {
  display: flex;
  gap:10px;
}

/* Mobile */
@media (max-width: 320px) {
  .subCaption {
    font-size: var(--fontSize-medium-2);
  }

  .hero {
    flex-direction: column;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .subCaption {
    font-size: var(--fontSize-medium-3);
  }

  .hero {
    flex-direction: column;
  }
  
  .heroText {
    order: 0;
  }

  .heroImage {
    order: 1;
  }
}

/* Desktop (SM) */
@media (max-width: 1024px) {
  
}